.button {
    background-color: #A39C8F;
    color: white;
    letter-spacing: 1px;
    font-size: 0.9rem;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
    border: none;
    padding: 12px 20px 12px 20px;
    margin: 5px;
    text-align: center;
    width: 100%;
    background-color: #3e187a;
    background-image: linear-gradient(316deg, #3e187a 0%, #994ecc 74%);
}

.button:hover {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3), 0 15px 15px 0 rgba(0, 0, 0, 0.4);
    background-color: #FFF !important;
}

.button:active {
    -webkit-transition: 0.05s ease-out;
    transition: 0.05s ease-out;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44), 0 1px 1px 0 rgba(0, 0, 0, 0.68);
}